.top-bar {
    height: 120px;
    /* width: 100%; */
    background-color: green;
    color: white;
    border-bottom: 5px solid black;
    
}



#question-elem {
    /* margin: 0 auto; */
    text-align: center;
    width: 850px;    
}

.time-style {
    background-color: lightgray;
    height: 120px;
    border: 5px solid black;
}


/* TRIVIA   ====================================== */

.layout-style {
    position: fixed;
    top: 120px;
    padding: 25px;
    background-color: lightgreen;
    width: 100%;
    height: 1000px;
}

.choices {
    margin: 0 auto;
    width: 80%;
}
.choice-button {
    margin: 20px;
    padding: 50px;
    /* font-size: 4rem; */
}

/* BOTTOM   ====================================== */
.correctNumElem {
    background-color: green;
}

.incorrectNumElem {
    background-color: red;
}

.passNumElem {
    background-color:lightgray;
}

.bottom-bar {
    height: 85px;
    color: white;
    text-align: center;
    font-size: 2.2em;
}

.prep-bar {
    height: 175px;
    color: white;
    text-align: center;
    font-size: 2.2em;
    background-color: red;

}

.hidden {
    display:none;
}

#dif-easy {
    
        height: 425px;
        width: 290px;
        background-color: #555;
        display: inline-block;
        padding-top: 300px;
        margin: 40px 80px;
        text-align: center;
        color: white;
        border-radius: 7px;
        /* background-image: url('../images/easy.jpg'); */
        background-size: contain;
}

#dif-medium {
    
    height: 425px;
    width: 290px;
    background-color: #555;
    display: inline-block;
    padding-top: 300px;
    margin: 40px 80px;
    text-align: center;
    color: white;
    border-radius: 7px;
    /* background-image: url('../images/medium.jpg'); */
    background-size: contain;
}

#dif-hard {
    
    height: 425px;
    width: 290px;
    background-color: #555;
    display: inline-block;
    padding-top: 300px;
    margin: 40px 80px;
    text-align: center;
    color: white;
    border-radius: 7px;
    /* background-image: url('../images/hard.jpg'); */
    background-size: contain;
}

.dif-select {
    color: white;
    text-align: center;
}

.blue {
    background-color: blue;
}

.pos { 
    position: absolute;
    top: 300px;
}

.time-pos { 
    position: absolute;
    top: 300px;
}