.top-bar {
    height: 120px;
    /* width: 100%; */
    background-color: green;
    color: white;
    
}

#question-elem {
    /* margin: 0 auto; */
    text-align: center;
    width: 850px;    
}

.time-style {
    background-color: lightgray;
    height: 120px;
}

.carousel-item>h2 {
    color: blue;
    position: fixed;
    top: 300px;
    text-align: center;
    margin: 0 auto;
    left: 300px;
}

/* TRIVIA   ====================================== */
#game-page, #results-page, #start-page, #status-page {
    position: fixed;
    top: 120px;
    padding: 25px;
    background-color: lightgreen;
    width: 100%;
    height: 1000px;
}

.choices {
    margin: 0 auto;
}
.choice-button {
    margin: 20px;
    padding: 50px;
    /* font-size: 4rem; */
}

/* BOTTOM   ====================================== */
.correctNumElem {
    background-color: green;
}

.incorrectNumElem {
    background-color: red;
}

.passNumElem {
    background-color:lightgray;
}

.bottom-bar {
    height: 100px;
    color: white;
    text-align: center;
    font-size: 2.2em;

}
